
.video-container {
  max-height: 500px; /* Ajuste a altura máxima conforme necessário */
  overflow: hidden; /* Isso garante que o vídeo não ultrapasse o contêiner */
  display: flex; /* Isso permite centralizar o vídeo dentro do contêiner */
  align-items: center; /* Alinha o vídeo verticalmente */
  justify-content: center; /* Alinha o vídeo horizontalmente */
}



.react-player {
  height: auto !important;
  aspect-ratio: 16/9;
}

.btn__banner-video {
  position: absolute;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  border: none;
  height: 100%;
}

.video-container {
  position: relative;

}

.link-video {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
  color: transparent;
}
